.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    margin: 20px;
    border-radius: 40px;
    border: 1px solid rgb(146, 137, 137);
}

.shopcategory-products{
    font-weight: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    margin-left: 100px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: rgb(197, 188, 188);
    color: rgb(127, 123, 123);
    font-size: 18px;
    font-weight: 500;
}