.descriptionbox{
    margin: 100px 170px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid rgb(186, 172, 172);
}

.descriptionbox-nav-box.fade{
    background: white;
    color: rgb(110, 108, 108);
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid rgb(223, 206, 206);
    padding: 48px;
    padding-bottom: 70px;
}